.rodape_social {   
    display: flex;
    justify-content: space-between;     
    padding: 10px 0;
    width: 4.5em;    
    margin: 0 auto;
}

.social__linkedin, .social__github {
    width: 30px;
    border-radius: 50%;
}

.social__linkedin:hover, .social__github:hover {
    cursor: pointer;    
    border: 3px solid white;   
    box-sizing: border-box;
}
