.rodape_social {   
    display: flex;
    justify-content: space-between;     
    /*filter: invert(60%);*/
    padding: 10px 0;
    width: 4.5em;    
    margin: 0 auto;
}

.social__linkedin, .social__github {
    /*transition: 1s all;*/
    width: 30px;
    border-radius: 50%;
}

.social__linkedin:hover, .social__github:hover {
    cursor: pointer; 
   /* filter: invert(1);
    transform: scale(1.2);*/
    border: 3px solid white;   
    box-sizing: border-box;
}


.social__linkedin, .social__github::after {
    background-image: url("../../img/my-github-pequeno.png");
}



