.rodape_social {   
    display: flex;
    justify-content: space-between;     
    filter: invert(60%);
    padding: 10px 0;
    width: 4em;    
    margin: 0 auto;
}

.social__linkedin, .socila__github:hover {
    cursor: pointer;    
}


